<div class="video">
  <!-- <video src="<%= @video.source %>" controls>

  </video> -->
  <iframe src="<%= @video.source %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

  </iframe>
</div>

<div class="subtitles">
  <%= render "subtitle_form" %>
  <div class="captions">
    <% @video.subtitle.captions.each do |caption| %>
      <p>
        <%= caption.caption_order %>
      </p>
      <p>
        <%= caption.start_time %>
        <%= caption.end_time %>
      </p>
      <p>
        <%= caption.text %>
      </p>
    <% end %>
  </div>
</div>
